body {
    background: rgb(138, 200, 241);
  }

#castle{
  display: block;
  margin-left: auto;    
  margin-right: auto;
  width: 50%;
}

.center {
  text-align: center;
  font-size: 60px;
  font-family: fantasy, copperplate, sans-serif;
}
.info {
  text-align: center;
  font-size: 30px;
  font-family: fantasy, copperplate, sans-serif;
}



.tabs {
  text-align: center;
}
